<div class="form-group">
  <mat-form-field>
    <mat-label>Foodname</mat-label>
    <input matInput [(ngModel)]="currentItem" required />
  </mat-form-field>
</div>

<mat-list>
  <mat-list-item
    *ngFor="let item of items; let i = index"
    (click)="toggleSelection(i)"
    [ngClass]="isSelected(i) ? 'item' : 'default'"
  >
    {{ item }}
  </mat-list-item>
</mat-list>

<button
  (click)="addItem()"
  style="margin-bottom: 30px"
  mat-raised-button
  [disabled]="!currentItem"
>
  add food
</button>
<button
  (click)="deleteSelected()"
  mat-raised-button
  style="margin-bottom: 30px; margin-left: 10px"
  [disabled]="selectedIndices.length === 0"
>
  Delete food
</button>
