header {
    background-color: black;
    padding: 50px;
    font-size: 60px;
    font-family: fantasy;
    text-decoration: solid;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Media query for smaller screens (adjust breakpoints as needed) */
  @media screen and (max-width: 768px) {
    header {
      font-size: 60px; /* Adjust the font size for smaller screens */
    }
  }
  
  /* Media query for even smaller screens (e.g., mobile) */
  @media screen and (max-width: 480px) {
    header {
      font-size: 30px; /* Adjust the font size for mobile screens */
    }
  }