<body>
  <h2>Bestellung hinzufügen</h2>
  <div [formGroup]="form">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Dein Name</mat-label>
        <input matInput formControlName="customerName" required />
      </mat-form-field>

      <app-order-list [empty]="empty" [items]="parentItems"> </app-order-list>

      <div>
        <mat-form-field>
          <mat-label>Total deiner Bestellung</mat-label>
          <input matInput formControlName="total" required />
        </mat-form-field>
      </div>
    </div>
  </div>
  <button (click)="addToOrder()" mat-raised-button>hinzufügen</button>
  <button mat-raised-button [routerLink]="['/orders']">Back</button>
</body>
