<body>
  <h2>Bestellung hinzufügen</h2>

  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Dein Name</mat-label>
      <input matInput formControlName="customerName" />
      <mat-error
        *ngIf="
          form.get('customerName')!.invalid && form.get('customerName')!.touched
        "
      >
        {{ getErrorMessage("customerName") }}
      </mat-error>
    </mat-form-field>
  </form>

  <app-order-list> </app-order-list>

  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Total deiner Bestellung</mat-label>
      <input matInput formControlName="total" type="text" pattern="[0-9]" />
      <mat-error
        *ngIf="form.get('total')!.invalid && form.get('total')!.touched"
      >
        {{ getErrorMessage("total") }}
      </mat-error>
    </mat-form-field>
  </form>

  <button
    (click)="addToOrder()"
    mat-raised-button
    [disabled]="
      !parentItems.length ||
      form.get('total')!.invalid ||
      form.get('customerName')!.invalid
    "
  >
    hinzufügen
  </button>
  <button mat-raised-button [routerLink]="['/orders']">Back</button>
</body>
